html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  display: inline-block;
}

nav {
  background-color: #b07156;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: white;
  height: 80px;
  position: sticky;
  margin-top: 88vh;
}

.navbar_fixed_top {
  margin-top: 0;
  top: 0;
  position: fixed;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul a {
  color: white;
  text-decoration: none;
}
