{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />
    <script src="{% static 'js/sticky_navbar.js'%}"></script>
    <title>Paloma and Jef</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    <main>
      <div class="content">{% block content %} {% endblock %}</div>
      <nav id="navbar">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a>Schedule</a></li>
          <li><a>Photos</a></li>
          <li><a>Registry</a></li>
          <li><a>RSVP</a></li>
        </ul>
      </nav>
    </main>
  </body>
</html>
